{% extends 'account/base.html'%}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block title %}
    {% trans "Password Reset" %}
{% endblock title %}
{% block authContent %}
    <main class = "px-4 h-screen flex flex-col items-center justify-center"> 
        <h1 class = "text-center text-xl font-semibold mb-4">
            {% trans "Password Reset" %}
        </h1>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p class = "text-lg text-center">
            {% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}
        </p>
        <a href = {% url 'account_login' %} class = "rounded-md font-semiblod text-white bg-primary py-2 px-4 mt-4 text-center hover:bg-primary-dark transition-all delay-75"> Back to log in </a>
    </main>
{% endblock authContent %}
