{% extends "user/auth/base.html" %} {% load static %} {% block authContent %}
<style>
  .step {
    display: none;
  }

  input[type="radio"]:checked {
    background-color: green;
  }
</style>

<div>
  <form id="multiStepForm" action=" " method="POST">
    <!-- {% csrf_token %} -->
    <!-- Step 1 -->
    <div class="step" id="step1">
      <div class="w-full p-4 pt-8">
        <div class="flex flex-col gap-8 items-center justify-center">
          <img src="{% static 'svgs/sproost.svg' %}" alt="" class="" />
          <div class="flex flex-col items-center justify-center">
            <h3 class="text-gray-900 font-semibold text-xl">Create an account</h3>
            <p class="text-gray-600 text-base">Provide some basic information to set up your account.</p>
          </div>
          <div class="flex flex-col gap-2 w-full">
            <label for="onboard-owner" class="w-full">
              <div class="w-full p-2 border border-neutral-100 flex items-center justify-between px-4 gap-10 rounded-md font-semibold focus:outline-none">
                <div class="w-[48px] h-[48px] rounded-full">
                  <img src="{% static 'images/owner.jpeg' %}" alt="" class="w-full h-full object-cover rounded-full" />
                </div>
                <h3 class="text-gray-600 text-sm">
                  I am a
                  <span class="text-gray-900 font-medium uppercase">HOME-OWNER</span>
                </h3>
                <input type="radio" name="onboarding" id="onboard-owner" class="w-4 h-4 rounded-full border border-neutral-100 selected:bg-primary" />
              </div>
            </label>
            <label for="onboard-contractor" class="w-full">
              <div class="w-full p-2 border border-neutral-100 flex items-center justify-between px-4 gap-10 rounded-md font-semibold focus:outline-none">
                <div class="w-[48px] h-[48px] rounded-full">
                  <img src="{% static 'images/contractor.jpeg' %}" alt="" class="w-full h-full object-cover rounded-full" />
                </div>
                <h3 class="text-gray-600 text-sm">
                  I am a
                  <span class="text-gray-900 font-medium uppercase">Contractor</span>
                </h3>
                <input type="radio" name="onboarding" id="onboard-contractor" class="w-4 h-4 rounded-full border border-neutral-100 selected:bg-primary" />
              </div>
            </label>
            <label for="onboard-agent" class="w-full">
              <div class="w-full p-2 border border-neutral-100 flex items-center justify-between px-4 gap-10 rounded-md font-semibold focus:outline-none">
                <div class="w-[48px] h-[48px] rounded-full">
                  <img src="{% static 'images/agent.png' %}" alt="" class="w-full h-full object-cover rounded-full" />
                </div>
                <h3 class="text-gray-600 text-sm">
                  I am an
                  <span class="text-gray-900 font-medium uppercase">Agent</span>
                </h3>
                <input type="radio" name="onboarding" id="onboard-agent" class="w-4 h-4 rounded-full border border-neutral-100 checked:bg-primary" />
              </div>
            </label>
            <label for="onboard-investor" class="w-full">
              <div class="w-full p-2 border border-neutral-100 flex items-center justify-between px-4 gap-10 rounded-md font-semibold focus:outline-none">
                <div class="w-[48px] h-[48px] rounded-full">
                  <img src="{% static 'images/agent.png' %}" alt="" class="w-full h-full object-cover rounded-full" />
                </div>
                <h3 class="text-gray-600 text-sm">
                  I am an
                  <span class="text-gray-900 font-medium uppercase">Investor</span>
                </h3>
                <input type="radio" name="onboarding" id="onboard-investor" class="w-4 h-4 rounded-full border border-neutral-100 checked:bg-primary" />
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>

    <!-- Step 2 -->
    <div class="step" id="step2">
      <h2>Step 2</h2>
      <input type="email" name="email" placeholder="Email" />
    </div>

    <!-- Step 3 -->
    <div class="step" id="step3">
      <h2>Step 3</h2>
      <input type="password" name="password" placeholder="Password" />
    </div>

    <div class="">
      <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
      <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
    </div>
  </form>
</div>
{% endblock authContent %}
