{% extends "user_admin/base.html" %} 
{% load static %} 
{% load form_tags %}
{% block navbar %} 
    {% include "user_admin/navbar.html" %} 
{% endblock navbar %}
{% block content %}
<main class="w-full  flex flex-col gap-8 my-8">
    <div class = "text-xl font-semibold mt-3 text-center">Update Home Owner</div>
    <div class = "w-[95%] lg:w-[70%] xl:w-[60%] m-auto">
        {{form.media}}
        <form  class="w-full mt-4 flex flex-col gap-4" method="POST">
            {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="bg-red-400 rounded-md text-center border border-red-700">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="w-full">
                    <label for="email" class="text-gray-700 font-medium text-sm">Email</label>
                    {{ form.email|addattrs:"class=w-full p-2 text-gray-500 border border-gray-300 rounded-md focus:outline-none mt-1 focus:border-gray-500"}}
                    {% if form.email.errors %}
                        <div class = "w-full py-1 rounded text-red-500">
                            {{form.email.errors}}
                        </div>
                    {% endif %}
                </div>
                <div class="w-full">
                    <label for="phone_number" class="text-gray-700 font-medium text-sm">Phone number</label>
                    <!-- Render phone_number field using Django template tag -->
                    <div class = "flex">
                        {{form.phone_number|addattrs:"class=w-full p-2 text-gray-500 border border-gray-300 rounded-md focus:outline-none mt-1 focus:border-gray-500,placeholder=Phone number"}}
                        {% if form.phone_number.errors %}
                            <div class = "w-full py-1 rounded text-red-500">
                                {{form.phone_number.errors}}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="w-full">
                    <label for="address" class="text-gray-700 font-medium text-sm">Address</label>
                    {{form.address}}
                    {% if form.address.errors %}
                        <div class = "w-full py-1 rounded text-red-500">
                            {{form.address.errors}}
                        </div>
                    {% endif %}
                </div>
            <div class="flex w-full gap-2 border-t border-neutral-150 pt-5">
                <button type="submit" class="flex items-center w-fit justify-center px-4 py-2 rounded-lg bg-primary text-white border border-gray-150 shadow-sm font-semibold">
                    Save 
                </button>
                <a href = "{% url 'admins:homeowners' %}" class="flex items-center w-fit justify-center px-4 py-2 rounded-lg border border-gray-800 text-gray-700 shadow-sm font-semibold">
                    back 
                </a>
            </div>
        </form>
    </div>
</main>
{% endblock %} {% block extraScripts %}
<script src="{% static 'js/requestDetails.js' %}"></script>
{% endblock extraScripts %}