{% extends "user/base.html" %} {% load static %} {% block content %}
{% load form_tags %}
<style>
    #step {
        display: none;
    }
</style>
{{form.media}}
<div class="w-full">
    <div class="w-full">
        <!-- header -->
        <div class="w-full p-4 flex items-center gap-8 mt-4 border-b border-neutral-150">
            <img onclick="goBack()" src="{% static 'svgs/chevron-left.svg' %}" alt="" class="cursor-pointer" />
            <h3 class="text-xl text-gray-900 font-medium">Edit Profile</h3>
        </div>
        <!-- content -->

        <div class="w-full p-4">
            <div class="w-full">
                <h3 class="text-base text-gray-600"> Provide some basic information to set up your account.</h3>
            </div>
            <form action="{% url 'profile:edit-homeowners-profile-request' %}" class="w-full mt-4 flex flex-col gap-4" method="POST">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="bg-red-400 rounded-md text-center border border-red-700">

                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}

                    </div>
                {% endif %}
                <div class="w-full">
                    <label for="email" class="text-gray-700 font-medium text-sm">Email</label>
                    <input type="email" name="email" id="email" value="{{details.user.email}}" class="w-full p-2 text-gray-500 border border-gray-300 rounded-md px-4 focus:outline-none mt-1 focus:border-gray-500" required />
                    {% if form.email.errors %}
                    <div class="w-full p-3 bg-red-300 border border-red-600 rounded text-white">
                        {{form.email.errors}}
                    </div>
                    {% endif %}
                </div>
                <div class="w-full">
                    <label for="phone" class="text-gray-700 font-medium text-sm">Phone number</label>
                    <div class="flex gap-2 p-2 border border-gray-300 p-2 mt-1 border border-gray-300 rounded-md">
                        <select name="country" id="country" class="w-2/12 rounded-md focus:outline-none mt-1 disabled:bg-transparent bg-transparent outline-none border-none focus:border-gray-500">
                            <option value="" disabled selected>US</option>
                            <option value="USA">US</option>
                            <option value="Canada">Canada</option>
                            <option value="UK">UK</option>
                            <!-- Add more country options here -->
                        </select>
                        <div id ="phone-field" class="flex gap-2 p-2 border border-gray-300 p-2 border border-gray-300 rounded-md">
                            {{form.phone_number}}
                          </div>                       
                           {% if form.phone_number.errors %}
                        <div class="w-full p-3 bg-red-300 border border-red-600 rounded text-white">
                            {{form.phone_number.errors}}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="w-full">
                    <label for="{{form.address.auto_id}}" class="text-gray-700 font-medium text-sm">Home Address</label>
                    {{form.address}}
                    {% if form.address.errors %}
                    <div class="w-full p-3 bg-red-300 border border-red-600 rounded text-white">
                        {{form.address.errors}}
                    </div>
                    {% endif %}
                </div>
                <div class="w-full">
                    <label for="city" class="text-gray-700 font-medium text-sm">City</label>
                    <input type="text" name="city" id="city" value="{{details.city}}" class="w-full p-2 text-gray-500 border border-gray-300 rounded-md px-4 focus:outline-none mt-1 focus:border-gray-500" required />
                    {% if form.city.errors %}
                    <div class="w-full p-3 bg-red-300 border border-red-600 rounded text-white">
                        {{form.city.errors}}
                    </div>
                    {% endif %}
                </div>
               
                {% if details.state_province is None %}
                <div class="w-full">
                    <label for="state_province" class="text-gray-700 font-medium text-sm">State province</label>
                    <input type="text" name="state_province" id="state_province" class="w-full p-2 text-gray-500 border border-gray-300 rounded-md px-4 focus:outline-none mt-1 focus:border-gray-500" />
                    {% if form.state_province.errors %}
                    <div class="w-full p-3 bg-red-300 border border-red-600 rounded text-white">
                        {{form.state_province.errors}}
                    </div>
                    {% endif %}
                </div>
                {% else %}
                <div class="w-full">
                    <label for="state_province" class="text-gray-700 font-medium text-sm">State province</label>
                    <input type="text" name="state_province" id="state_province" value="{{details.state_province}}" class="w-full p-2 text-gray-500 border border-gray-300 rounded-md px-4 focus:outline-none mt-1 focus:border-gray-500" required />
                    {% if form.state_province.errors %}
                    <div class="w-full p-3 bg-red-300 border border-red-600 rounded text-white">
                        {{form.state_province.errors}}
                    </div>
                    {% endif %}
                </div>
                {% endif %}
                <div class="flex w-full flex-col gap-4 border-t border-neutral-150 pt-5">
                    <button type="submit" class="flex items-center w-full justify-center p-3 rounded-lg bg-primary text-white border border-neutral-150 shadow-sm font-semibold">
                        Save 
                    </button>
                </div>
            </form>
            
        </div>
    </div>
</div>

{% endblock %}{% block bottomNav %}{% if loggedInUser == 'agent' %}{% include "user/bottom_nav_agent.html" %}{% elif loggedInUser == 'contractor' %}{% include "user/bottom_nav_contractor.html"%}{% else %}{% include "user/bottom_nav.html" %} {% endif %}
{% endblock bottomNav %} {% block extraScripts %}

<script>
    function goBack() {
        history.back()
    }
</script>
{% endblock extraScripts %}