{% extends "user/base.html" %} 
{% load static %} 
{% load form_tags %}
{% block content %}
<style>
    #step {
        display: none;
    }
</style>

  <!-- loading -->
    <!-- added to mask the time it takes to display beteen when a prof pics is clicked and before it gets resized in js -->
    <div id="loading" class="relative hidden w-full">
        <div class="fixed inset-0 flex items-center justify-center z-50">
            <div class="fixed inset-0 bg-black/75"></div>
            <div class="flex flex-col items-center">
                <span class="loader"></span>
            </div>
        </div>
    </div>

<div id="imagePreviewModalEditProfile" class="relative hidden w-full">
    <div class="fixed inset-0 flex items-center justify-center z-50">
        <div class="fixed inset-0 bg-black/75"></div>
        <div class="flex flex-col items-center">
            <div class="modal z-50">
                <form id="imageForm" class="" action="{% url 'profile:edit-contractor-profile' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    <div id="">
                        <input type="file" id="image_input" name="image" class="hidden">
                    </div>
                    <div id="send-button" class="hidden sm:h-[70vh] flex-col justify-center items-center"> 
                        <img id="previewImageForm" name="image" class="w-full h-full rounded-lg" src="#" alt="Image Preview">
                        <div class="flex gap-4 justify-center w-full mt-4">
                        <button id="cancel-dp-change" class="bg-primary py-3 px-4 cursor-pointer text-white rounded-lg" type="button">Cancel</button>
                        <button type="button" id="select-image" class="bg-primary py-3 px-4 cursor-pointer text-white rounded-lg">Select</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="w-full">
    <div class="w-full">
        <!-- header -->
        <div class="w-full p-4 flex items-center gap-8 mt-4 border-b border-neutral-150">
            <img onclick="goBack()" src="{% static 'svgs/chevron-left.svg' %}" alt="" class="cursor-pointer" />
            <h3 class="text-xl text-gray-900 font-medium">Edit Profile</h3>
        </div>
        <!-- content -->

        <div class="w-full p-4">
            <div class="w-full">
                <h3 class="text-base text-gray-600"> Provide some basic information to set up your account.</h3>
            </div>
            {{form.media}}
            <form class="w-full mt-4 flex flex-col gap-4" action = "{% url 'profile:edit-contractor-profile' %}" method="POST">
                {% csrf_token %}
                {% if form.non_field_errors %}
                <div class="bg-red-400 rounded-md text-center border border-red-700">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="w-full">
                    <label for="companyName" class="text-gray-700 font-medium text-sm">Company Name</label>
                    {{ form.company_name|addattrs:"class=w-full p-2 text-gray-500 border border-gray-300 rounded-md focus:outline-none mt-1 focus:border-gray-500,placeholder=Company Name"}}
                    {% if form.company_name.errors %}
                        <div class = "w-full py-1 rounded text-red-500">
                            {{form.company_name.errors}}
                        </div>
                    {% endif %}
                </div>
                <div class="w-full">
                    <label for="email" class="text-gray-700 font-medium text-sm">Email</label>
                    {{ form.email|addattrs:"class=w-full p-2 text-gray-500 border border-gray-300 rounded-md focus:outline-none mt-1 focus:border-gray-500"}}
                    {% if form.email.errors %}
                        <div class = "w-full py-1 rounded text-red-500">
                            {{form.email.errors}}
                        </div>
                    {% endif %}
                </div>
                <div class="w-full">
                    <label for="phone_number" class="text-gray-700 font-medium text-sm">Phone number</label>
                    <!-- Render phone_number field using Django template tag -->
                    <div class = "flex">
                        {{form.phone_number|addattrs:"class=w-full p-2 text-gray-500 border border-gray-300 rounded-md focus:outline-none mt-1 focus:border-gray-500,placeholder=Phone number"}}
                        {% if form.phone_number.errors %}
                            <div class = "w-full py-1 rounded text-red-500">
                                {{form.phone_number.errors}}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="w-full">
                    <label for="Specialization" class="text-gray-700 font-medium text-sm">Specialization</label>
                    {{form.specialization|addattrs:"class=w-full p-2 text-gray-500 border border-gray-300 rounded-md focus:outline-none mt-1 focus:border-gray-500,placeholder=Specialization"}}
                    {% if form.specialization.errors %}
                        <div class = "w-full py-1 rounded text-red-500">
                            {{form.specialization.errors}}
                        </div>
                    {% endif %}
                </div>
                <div class="w-full">
                    <label for="{{ form.registration_number.auto_id }}" class="text-gray-700 font-medium text-sm">Website</label>
                    {{ form.website|addattrs:"class=w-full p-2 text-gray-500 border border-gray-300 rounded-md focus:outline-none mt-1 focus:border-gray-500,placeholder=Enter website" }}
                    {% if form.website.errors %}
                        <div class="w-full py-1 rounded text-red-500">
                            {{ form.website.errors }}
                        </div>
                    {% endif %}
                </div>
                
                <div class="w-full">
                    <label for="{{form.company_address.auto_id}}" class="text-gray-700 font-medium text-sm">Company Address</label>
                    {{ form.company_address }}
                    {% if form.company_address.errors %}
                        <div class = "w-full py-1 rounded text-red-500">
                            {{form.company_address.errors}}
                        </div>
                    {% endif %}
                </div>
                <div class="w-full">
                    <label for="City" class="text-gray-700 font-medium text-sm">City</label>
                    {{form.city|addattrs:"class=w-full p-2 text-gray-500 border border-gray-300 rounded-md focus:outline-none mt-1 focus:border-gray-500,placeholder=City"}}
                    {% if form.city.errors %}
                        <div class = "w-full py-1 rounded text-red-500">
                            {{form.city.errors}}
                        </div>
                    {% endif %}
                </div>
                <div class="flex w-full flex-col gap-4 border-t border-neutral-150 pt-5 mb-[120px]">
                    <button type="submit" class="flex items-center w-full justify-center p-3 rounded-lg bg-primary text-white border border-neutral-150 shadow-sm font-semibold">Save</button>
                </div>
            </form> 
        </div>
    </div>
</div>

{% endblock %}
{% block bottomNav %}
    {% include "user/bottom_nav_agent.html"%}
{% endblock bottomNav %} 

{% block extraScripts %}

<script>
    function goBack() {
        history.back()
    }
</script>
<script src="{% static 'js/changeProfilePics.js' %}" async></script>

{% endblock extraScripts %}