{% extends "user/base.html" %} 
{% load static %} 
{% load form_tags %} 
{% block topNav %} 
    {% include "user/top-navigation.html" %} 
{% endblock topNav %} 
{% block content %}



<div class="w-full p-4 font['Inter'] mt-24 flex flex-col gap-5">
     <!-- go back arrow -->
     <div class="w-full p-4 flex items-center gap-8 border-b border-neutral-150">
        <img onclick="goBack()" src="{% static 'svgs/chevron-left.svg' %}" alt="" class="cursor-pointer" />
        <h3 class="text-xl text-gray-900 font-medium">Assigned projects</h3>
    </div>
    <!-- client -->
    {% if accounts %}
        {% for account in accounts%}
            <a href='{% url "main:home_owner_with_slug_name" name=account.assigned_by.slug %}' class="w-full block p-4 bg-white border border-neutral-150 rounded-md shadow-sm cursor-pointer">
                <div class="w-full flex flex-col gap-8">
                    <div class="w-full flex items-center justify-between">
                        <div class="">
                            <h3 class="text-gray-900 font-semibold">{{account.assigned_by.first_name}} {{account.assigned_by.last_name}}</h3>
                            <small class="text-gray-600">{{account.assigned_by.email}}</small>
                        </div>
                        <span class="">
                        </span>
                    </div>
                    <div class="flex items-center justify-between">
                        <p class="text-gray-900 text-sm font-medium">{{account.assigned_by.user_profile.address}}</p>
                        <img src="{% static 'svgs/address.svg' %}" alt="" class="w-[32px] h-[32px] object-contain">
                    </div>
                </div>
            </a>
        {% endfor %}
    {%else%}
        <div class="w-full flex flex-col items-center justify-center gap-4">
            <h3 class="text-gray-900 font-semibold text-center">No clients assigned to you yet</h3>
        </div>
    {% endif %}
</div>


{% endblock %}
{% block bottomNav %}
    {% include "user/bottom_nav_agent.html" %} 
{% endblock bottomNav %} 
{% block extraScripts %}
    <script src="{% static 'js/agent.js' %}"></script>
    <script>
        function goBack() {
            history.back()
        }
    </script>
{% endblock extraScripts %}