{% extends "user/base.html" %} 
{% load static %} 
{% load form_tags %} 

{% block content %}
<style>    
    .glide__slide {
        flex: 0 0 auto;
    }

    .glide__arrows {
        display: none;
    }

    .project-image{
        width: 100%;
        height: 100%; 
        aspect-ratio: 3/3;
    }

    .projects-grid img {
        width: 100%;
        height: auto; /* Ensures the image maintains its aspect ratio */
    }

    @media (min-width: 1000px) {
        .glide__arrows {
            display: flex;
        }
    }

    @media (min-width: 2000px) {
        .projects-grid {
            display: grid;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            gap: 1rem;
        }
    }
</style>

<div class="h-full bg-gray-100">
    <div class="pt-8">
        <div class="w-full pb-8">
            <!-- Top Sliding Tabs -->
            <div class="glide glide-top pt-4">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        <li class="glide__slide1 w-[40%]">
                            <div class="tab flex-shrink-0 rounded-[40px] bg-white p-2 shadow-sm">
                                <p class='text-center'>Sample1</p>
                            </div>
                        </li>
                        <li class="glide__slide1 w-[40%]">
                            <div class="tab flex-shrink-0 rounded-3xl bg-white p-2  shadow-sm">
                                <p class='text-center'>Sample2</p>
                            </div>
                        </li>
                        <li class="glide__slide1 w-[40%]">
                            <div class="tab flex-shrink-0 rounded-3xl bg-white p-2  shadow-sm ">
                                <p class='text-center'>Sample3</p>
                            </div>
                        </li>
                        <li class="glide__slide1 w-[40%]">
                            <div class="tab flex-shrink-0 rounded-3xl bg-white p-2  shadow-sm">
                                <p class='text-center'>Sample4</p>
                            </div>
                        </li>
                        <li class="glide__slide1 w-[40%]">
                            <div class="tab flex-shrink-0 rounded-3xl bg-white p-2  shadow-sm">
                                <p class='text-center'>Sample5</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Navigation Buttons -->
                <div class="glide__arrows sm:hidden lg:block" data-glide-el="controls">
                    <button class="glide__arrow glide__arrow--left inline-flex items-center justify-center bg-primary border border-neutral-150 rounded-md p-2 outline-none shadow-sm text-white" data-glide-dir="<">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                      </button>
                    <button class="glide__arrow glide__arrow--right inline-flex items-center justify-center bg-primary border border-neutral-150 rounded-md p-2 outline-none shadow-sm" data-glide-dir=">">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                      </button>
                </div>
            </div>
        </div>

            <!-- goals part -->
        <div class="mx-4">
            <div class="w-full grid grid-cols-2 lg:grid-cols-4 gap-4 mt-4 mb-12">
                <div class="tab flex flex-col text-flex-start justify-center bg-white rounded-lg shadow-md h-[200px] lg:h-[300px] pt-[16px] pl-[16px]">
                    <div class="w-[44px] h-[44px] flex justify-center items-center rounded-full bg-graybg ">
                        <img src="{% static 'images/Homeadvisor.png' %}" alt="" class="text-black w-[24px] h-[24px]">
                    </div>
                    <h3 class="text-gray-900 font-medium mt-[37px]">Number Of Uploaded Projects</h3>
                    <div class="w-full mt-[7px] pb-[15px]">            
                        {% if box1_count > 0 %}
                            <h3 class="text-gray-900 text-2xl font-semibold">{{ box1_count }}</h3>  
                        {% else %}
                            <h3 class="text-gray-900 text-2xl font-semibold">0</h3>              
                        {% endif %}
                    </div>
                </div>                
                <div class="tab flex flex-col text-flex-start justify-center bg-white rounded-lg shadow-md h-[200px] lg:h-[300px] pt-[16px] pl-[16px]">
                    <div class="w-[44px] h-[44px] flex justify-center items-center rounded-full bg-graybg ">
                        <img src="{% static 'images/documents.png' %}" alt="" class="text-black w-[24px] h-[24px]">
                    </div>
                    <h3 class="text-gray-900 font-medium mt-[37px]">Number Of Qoutes Requested</h3>
                    <div class="w-full mt-[7px] pb-[15px]">            
                        {% if box1_count > 0 %}
                            <h3 class="text-gray-900 text-2xl font-semibold">{{ box1_count }}</h3>  
                        {% else %}
                            <h3 class="text-gray-900 text-2xl font-semibold">0</h3>              
                        {% endif %}
                    </div>
                </div>                
                <div class="tab flex flex-col text-flex-start justify-center bg-white rounded-lg shadow-md lg:h-[300px] h-[200px] pt-[16px] pl-[16px]">
                    <div class="w-[44px] h-[44px] flex justify-center items-center rounded-full bg-graybg ">
                        <img src="{% static 'images/verified.png' %}" alt="" class="text-black w-[24px] h-[24px]">
                    </div>
                    <h3 class="text-gray-900 font-medium mt-[37px]">Number Of Completed Projects</h3>
                    <div class="w-full mt-[7px] pb-[15px]">            
                        {% if box1_count > 0 %}
                            <h3 class="text-gray-900 text-2xl font-semibold">{{ box1_count }}</h3>  
                        {% else %}
                            <h3 class="text-gray-900 text-2xl font-semibold">0</h3>              
                        {% endif %}
                    </div>
                </div> 
                <div class="flex flex-col gap-4">            
                    <a href="{% url 'quotes:request-quotes' %}" class="tab flex flex-col text-flex-start justify-center bg-white rounded-lg shadow-md h-[91px] lg:h-[141px] pt-[9px] pl-[16px]">
                        <div class="w-[28px] h-[28px] flex justify-center items-center rounded-full bg-graybg ">
                            <img src="{% static 'images/File.png' %}" alt="" class="text-black w-[16px] h-[16px]">
                        </div>
                        <h3 class="text-gray-900 font-medium mt-[6px]"> Request Quotes</h3>
                    </a> 
                    {% if referral_link %}               
                    <div id="share-link" data-link="{{referral_link}}" class="tab cursor-pointer flex flex-col text-flex-start justify-center bg-white rounded-lg shadow-md h-[91px] lg:h-[141px] pt-[9px] pl-[16px]">
                        <div class="w-[28px] h-[28px] flex justify-center items-center rounded-full bg-graybg ">
                            <img src="{% static 'images/File.png' %}" alt="" class="text-black w-[16px] h-[16px]">
                        </div>
                        <h3 class="text-gray-900 font-medium mt-[6px]"> Invite</h3>
                    </div>
                    {% else %} 
                    <div id="add-invite" href="{% url 'profile:edit-profile' %}" class="tab cursor-pointer flex flex-col text-flex-start justify-center bg-white rounded-lg shadow-md lg:h-[141px] h-[91px] pt-[9px] pl-[16px]">
                        <div class="w-[28px] h-[28px] flex justify-center items-center rounded-full bg-graybg ">
                            <img src="{% static 'images/File.png' %}" alt="" class="text-black w-[16px] h-[16px]">
                        </div>
                        <h3 class="text-gray-900 font-medium mt-[6px]"> Invite</h3>
                    </div>
                    {% endif %}
                </div>                   
            </div>
        </div>

    <!-- Image Gallery -->
    <div class="w-full pb-[100px]">
        {% if proj %}
        <div class="container-bottom w-full">
            <div class="flex justify-between">
                <div class="font-semibold mb-4 mx-4">Property Listing</div>
                <a href="{% url 'property:all-property' %}" class="font-semibold mb-4 mx-4">See All</a>
            </div>
            <div class="lg:hidden glide-bottom bg-gray-100 w-full mt-4">
                    <!-- Slides here -->
                    <div class="glide__track" data-glide-el="track">
                        <ul class="glide__slides">
                            {% for image in proj %}
                                <li class="glide__slide">
                                    {% if image.file %}
                                        <div class="bg-white rounded-lg shadow-md h-auto overflow-hidden" >
                                            <div id="img-div" class="h-[300px] w-full" style="height: 270px;">
                                                <img src="{{ image.file.url }}" alt="Project Image" class="project-image w-full h-auto object-fit object-center">
                                            </div>
                                            <p class="font-semibold my-[16px] pl-1 bg-white text-black p-2">Bungalow Renovation</p>
                                        </div>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
            </div>  
            <!-- grid projects                  -->
            <div class=" hidden p-4 lg:grid grid-cols-1 justify-center items-center gap-4 sm:grid-cols-2 lg:grid-cols-3 pb-[100px] sm:pb-[60px]">
                <!-- Property Card 1 -->
                <div class="bg-white rounded-lg shadow-md overflow-hidden">
                    <img src="{% static 'images/bannerAfter.png' %}" alt="Property Image" class="w-full h-60 object-cover">
                    <p class="my-[16px] pl-1"> Bungalow Renovation</p>
                </div>
                <div class="bg-white rounded-lg shadow-md overflow-hidden">
                    <img src="{% static 'images/bannerAfter.png' %}" alt="Property Image" class="w-full h-60 object-cover">
                    <p class="my-[16px] pl-1">Bungalow Renovation</p>
                </div>
                <div class="bg-white rounded-lg shadow-md overflow-hidden">
                    <img src="{% static 'images/bannerAfter.png' %}" alt="Property Image" class="w-full h-60 object-cover">
                    <p class="my-[16px] pl-1">Bungalow Renovation</p>
                </div>
            </div>
            {% else %}
            <div class="flex justify-between">
                <a href="" class="font-semibold mb-4 mx-4">Property Listing</a>
                <a href="" class="font-semibold mb-4 mx-4">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                  </svg>
                </a>
            </div>
            <div class="w-full flex flex-col items-center justify-center gap-4 mt-4">
                <h3 class="text-gray-900 font-semibold text-center">No projects yet</h3>
            </div>
            {% endif %}           
        </div>

        <div class="fixed bottom-36 w-full flex flex-col items-center">
            <div id="copied-message" class="hidden text-white w-[50%] text-sm mt-2 text-center bg-black py-2">Copied!</div>
            <div id="copied-message-inivite" class="hidden w-[50%] text-white text-sm mt-2 text-center bg-black py-2">Please add your license number in the edit page!</div>
        </div>
    
    </div>
    
{% endblock %}
{% block bottomNav %}
    {% include "user/bottom_nav_agent.html" %} 
{% endblock bottomNav %} 
{% block extraScripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script>
    AOS.init(
        {duration: 1200,  once: true, // animation only happens once - while scrolling down
        }
    );
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.5.2/dist/glide.min.js"></script>
<script>
    // data-aos="fade-right"
    const configTop = {
        type: "carousel",
        perView: 6,  // Show one full image and a part of the next one
        focusAt: 'center',
        gap: 10,  // Adjust the gap between slides if needed
        breakpoints: {
            1420: {
                perView: 6
            },
            1280: {
                perView: 5
            },
            1130: {
                perView: 4.25
            },
            900: {
                perView: 4.25
            },
            860: {
                perView: 4
            },          
            700: {
                perView: 3.5
            },                   
            680: {
                perView: 3
            },                   
            560: {
                perView: 2.25
            },                   
            475: {
                perView: 2
            },                   
            423: {
                perView: 2
            },                   
            390: {
                perView: 2.1
            }
        }
    };
  
    
    const sliderTop = new Glide('.glide-top', configTop);
    
    sliderTop.mount();
  
    // let glide_width = document.querySelector('.glide__slide1')
    // console.log(glide_width)
    // glide_width.style.width= '100%'
    // let glide_width2 = document.querySelector('.glide__slide')
    // console.log(glide_width)
    // glide_width2.style.width= '80%'
  
  
    // second slide
    const config = {
        type: "carousel",
        perView: 2.25,  // Show one full image and a part of the next one
        focusAt: 'center',
        gap: 10,  // Adjust the gap between slides if needed
        breakpoints: {
            800:{
                perView:2
            },
            480: {
                perView: 1.25
            }
        }
    };
  
    const slider = new Glide('.glide-bottom', config);
  
    slider.mount();
  
</script>

<script src="{% static 'js/agent.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    let getStarted = document.querySelector('#get-started')
    let modalOverlay = document.querySelector('#modal-overlay')

    let shareLink = document.getElementById("share-link");
    let addInvite = document.getElementById("add-invite");
    let copiedMessage = document.getElementById("copied-message");
    let copiedMessageInvite = document.getElementById("copied-message-inivite");


    if(getStarted){
        getStarted.addEventListener('click', ()=>modalOverlay.style.display= 'none')
    }
    
    // copying invite link
    if(shareLink){
        shareLink.addEventListener("click", function() {
            let referralLink = shareLink.getAttribute("data-link");
            navigator.clipboard.writeText(referralLink).then(function() {
                // Show the copied message
                copiedMessage.style.display = 'block';

                // Hide the message after 2 seconds
                setTimeout(function() {
                    copiedMessage.style.display = 'none';
                }, 2000);
            }).catch(function(error) {
                console.error("Failed to copy text: ", error);
            });
        });
    }

    if(addInvite){
        addInvite.addEventListener("click", function() {
        // Show the copied message
        copiedMessageInvite.style.display = 'block';

        // Hide the message after 2 seconds
        setTimeout(function() {
            copiedMessageInvite.style.display = 'none';
        }, 3000);
    })
    }
   
});
</script>

<script>
    // using jQuery
    let url = '{{url}}'
    $('#get-started').click(function() {
    $.ajax({
        url: url+'/profiles/update_onboarding_status/',  // URL to your Django view
        type: 'POST',
        dataType: 'json',
        beforeSend: function(xhr) {
            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');  // Include CSRF token
        },
        success: function(data) {
            console.log(data.message);
            // Continue navigating the page or perform other actions
        },
        error: function(xhr, textStatus, errorThrown) {
            console.error('Error:', errorThrown);
        }
    });
});

</script>
{% endblock extraScripts %}
