{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sproost</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="{% static 'js/index.js' %}"></script>

    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: "#2FAA07",
                        "primarydark": "#1A5E04",
                        "toneLightGreen": "#EAF7E6",
                    },
                    fontFamily: {
                        primary: ["Inter", "sans-serif"],
                    },
                },
            },
        }
    </script>
</head>

<body>
    <div class="">
        {% block topNav %} {% endblock topNav %}
        <div class="mb-20">{% block content %} {% endblock content %}</div>
        {% block bottomNav %} {% endblock bottomNav %}
    </div>
    <script>
        var messages = [
            {% for message in messages %}
                {"text": "{{ message }}", "level": "{{ message.tags }}"},
            {% endfor %}
        ];
    </script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script> 
    <script src = {% static "js/user/base.js" %} ></script>
{% block extraScripts %} {% endblock extraScripts %}
</body>

</html>