{% load static %}
<div class="w-full fixed bg-white bottom-0 border-t border-neutral-150 p-4 shadow-md z-20">
  {% with url_name=request.resolver_match.url_name %}
  <div class="flex items-center justify-between w-full">
    <a href="{% url 'main:home' %}" class="inline-flex flex-col gap-1 items-center">
      {% if url_name == 'home' %}
        <img src="{% static 'svgs/Home.svg' %}" alt="" class="" /> 
        <span class="text-primary font-medium text-xs">My Home</span> 
      {% else %}
        <img src="{% static 'svgs/Home-outline.svg' %}" alt="" class="" />
        <span class="text-gray-500 text-xs">My Home</span>
      {% endif %}
    </a>
    <a href="{% url 'profile:search_contractor' %}" class="inline-flex flex-col gap-1 items-center">
      {% if url_name == 'search_contractor' %}
        <img src="{% static 'svgs/search-selected.svg' %}" alt="" class="" />
        <span class="text-gray-500 text-xs font-medium text-primary">Search</span>
      {% else %}
        <img src="{% static 'svgs/search.svg' %}" alt="" class="" />
        <span class="text-gray-500 text-xs">Search</span>
      {% endif %}
      
    </a>
    
    {% if request.user.user_type == 'AG' %}
      <a href="{% url 'quotes:request-quotes' name='home_owner_slug' %}" class="inline-flex flex-col gap-1 items-center">       
      {% elif request.user.user_type == 'HO' %} 
      <a href="{% url 'quotes:request-quotes'%}" class="inline-flex flex-col gap-1 items-center">
    {% endif %}
      
      {% if url_name == 'home' %}
      {% else %}
      {% endif %}
      
      {% if url_name == 'request-quotes' %}
      <img src="{% static 'svgs/Upload-selected.svg' %}" alt="" class="" />
      <span class="text-gray-500 text-xs font-medium text-primary">Upload</span>
      {% else %}
      <img src="{% static 'svgs/Add-upload.svg' %}" alt="" class="" />
      <span class="text-gray-500 text-xs">Upload</span>
      {% endif %}
    </a>
    
    <a href="{% url 'profile:show-agent-message' %}" class="inline-flex flex-col gap-1 items-center">
      {% if url_name == 'home' %}
      {% else %}
      {% endif %}
      <img src="{% static 'svgs/Message.svg' %}" alt="" class="" />
      <span class="text-gray-500 text-xs">Messages</span>
    </a>
    <a href="{% url 'profile:show-agent-menu' %}" class="inline-flex flex-col gap-1 items-center">
      {% if url_name == 'edit-profile'%}
      <img src="{% static 'svgs/more-horizon-green.svg' %}" alt="" class="" />
      <span class="text-primary font-medium text-xs">Menu</span> 
      {% else %}
      <img src="{% static 'svgs/more-horizon.svg' %}" alt="" class="" />
      <span class="text-gray-500 text-xs">Menu</span>
      {% endif %}
    </a>
  </div>
  {% endwith %}
</div>
