{% extends "user/base.html" %} 
{% load static %} 
{% block content %}
<style>
  .tabcontent {
    display: none;
  }

  .tablinks.active {
    background-color: #eaf7e6;
    border-radius: 8px;
    padding: 8px 16px;
    color: #217905;
  }

/* HTML: <div class="loader"></div> */
.loader {
  color: rgb(34 197 94);
  display: block;
  width: 7px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
  transform: translateX(-38px);
  animation: l21 .5s infinite alternate linear;
}

@keyframes l21 {
  50%  {box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px}
  100% {box-shadow: 19px 0 0 0  , 38px 0 0 3px, 57px 0 0 7px}
}

</style>

    <!-- loading -->
    <!-- added to mask the time it takes to display beteen when a prof pics is clicked and before it gets resized in js -->
    <div id="loading" class="relative hidden w-full">
      <div class="fixed inset-0 flex items-center justify-center z-50">
          <div class="fixed inset-0 bg-black/75"></div>
          <div class="flex flex-col items-center">
              <span class="loader"></span>
          </div>
        </div>
        </div>

    <div id="capture-video" class="relative hidden w-full">
      <div class="fixed inset-0 flex items-center justify-center z-50">
          <div class="fixed inset-0 bg-black/75"></div>
          <div class="flex flex-col items-center">
            <div class="z-50">
              <video id="video" autoplay></video>
              <div class="flex gap-4 justify-center mt-3">
                <button id="stop" class="bg-primary py-3 px-4 cursor-pointer text-white rounded-lg">Stop</button>
                <button id="capture" class="bg-primary py-3 px-4 cursor-pointer text-white rounded-lg">Capture</button>     

              </div>
              <canvas id="canvas" style="display: none;"></canvas>
            </div>
          </div>
      </div>
    </div>

    <!-- modal for dp view -->
    <div id="imagePreviewModal" class="relative hidden w-full">
      <div class="fixed inset-0 flex items-center justify-center z-50">
          <div class="fixed inset-0 bg-black/75"></div>
          <div class="flex flex-col items-center">
            <div class="modal z-50">
              <form id="imageForm" class="" action="{% url 'profile:change-dp-request' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div id="dp-view"  class="flex flex-col items-center sm:h-[70vh] justify-center">
                  <div class="bg-white rounded-lg pt-2 pb-4 px-2">
                    <div class="flex justify-between items-center mb-3">
                      <p class="text-sm text-primary">
                        {% if profile.company_name %} {{ profile.company_name }} {% else %} {{ profile.user.username }} {% endif %}
                      </p>
                      <span class="close text-red-500 text-3xl font-bold float-right cursor-pointer mr-1">&times;</span>
                    </div>
                    <div class="flex flex-col justify-center items-center">
                      <img class="modal-content w-full h-[25rem] object-contain object-center rounded-lg border-2 border-gray-300" src="#" id="previewImage">
                      <div class="flex items-center justify-center gap-8 mt-4">
                        <div id="change-through-camera" class="">
                          <i class="fa fa-camera fa-4x text-primary cursor-pointer text-2xl" aria-hidden="true"></i>
                        </div>
                        <div class="change-icon-container ">
                          <div id="">
                            <input type="file" id="id_gallery_change" name="image" class="hidden">
                          </div>
                          <label for="id_gallery_change" class="gallery-icon-label">
                              <span><i id="change-through-gallery" class="fa-solid fa-image fa-4x text-primary cursor-pointer text-2xl" aria-hidden="true"></i>
                          </label>
                          
                        </div>             
                      </div>
                    </div>
                    </div>
                  </div>
                  <!-- for sending dp change request -->
                  <div id="send-button" class="hidden sm:h-[70vh] flex-col justify-center items-center"> 
                      <div class = "overflow-hidden rounded-md h-[30rem] w-[95%]">
                        <img id="previewImageForm" name class="w-full h-full object-contain object-center rounded-lg" src="#" alt="Image Preview">
                      </div>
                      <div class="flex gap-4 justify-center w-full mt-4">
                        <button id="cancel-dp-change" class="bg-primary py-3 px-4 cursor-pointer text-white rounded-lg" type="button">Cancel</button>
                        <button type="submit" class="bg-primary py-3 px-4 cursor-pointer text-white rounded-lg">Change</button>
                      </div>
                  </div>
                </form>

            </div>
          </div>
      </div>
    </div>




<main class="w-full relative mb-4">
  <div class="w-full h-[120px] rounded-bl-lg rounded-br-lg bg-green-500"></div>
  <!-- <div class="absolute top-16 border border-neutral-150 rounded-md w-fit p-2 right-4">
        <div class="relative ">
            <img src="{% static 'svgs/Notification.svg' %}" alt="" class="" />
            <span class="bg-[#F9BC36] w-2 h-2 rounded-full absolute top-0 right-0"></span>
        </div>
    </div> -->
    <form class="absolute right-4 top-4" action="{% url 'account_logout' %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="flex gap-2 items-center rounded-md text-black bg-white border border-gray-300 p-2 cursor-pointer">Logout <img src = "{% static 'svgs/logout.svg' %}" class = "w-4 h-4" /></button>
    </form>
  <div class="min-h-[750px] mt-[-6rem]">
    <div class="w-[120px] h-[120px] border-[5px] border-green-300 relative z-10 rounded-full border border-enutral-150 mx-auto mt-[-1rem]">
      {% if form.image.errors %}
          <div class = "w-full py-1 rounded text-red-500 absolute top-[-45%] left-[30px]">
              {{form.image.errors}}
          </div>
      {% endif %}
      {% if profile.image %}
        <img id="profilepicture" src="{{profile.image.url}}" alt="" class="w-full h-full object-cover rounded-full" />
        {% else %}
        <img id="profilepicture" src="{% static 'images/truck.jpeg' %}" alt="" class="w-full h-full object-cover rounded-full" />
      {% endif %}
        
      <div class="w-[33px] h-[33px] rounded-full bg-white flex items-center justify-center absolute bottom-0 right-0 shadow-sm">
        <img src="{% static 'svgs/sproost.svg' %}" alt="" class="w-[26px] h-[12px] object-contain" />
      </div>
    </div>
    <div class="w-11/12 mx-auto bg-white min-h-[700px] shadow-md mt-[-4rem] rounded-lg relative">
      <div class="pt-20">
        <!-- header -->
        <div class="flex flex-col items-center justify-center mb-4">
          <h3 class="text-xl text-gray-700">
            {% if profile.company_name %} {{ profile.company_name }} {% else %} {{ profile.user.username }} {% endif %}
          </h3>
          <p class="font-[300]">{{profile.specialization|default:"Not Provided"}}</p>
        </div>
        <!-- content -->
        <div class="w-full p-4 flex flex-col gap-4">
          <div class="w-full flex items-center justify-between">
            <div class="flex flex-col gap-3">
              <span class="text-primarydark font-bold text-sm">Location</span>
              <span class="text-gray-500 text-sm">{{profile.company_address|default:"None"}}, {{profile.city|default:"None"}}</span>
            </div>
            <div class="flex flex-col gap-3">
              <span class="text-primarydark font-bold text-sm">Website</span>
              <span class="text-gray-500 text-sm">{{profile.website|default:"None"}}</span>
            </div>
          </div>
          <div class="w-full flex items-center justify-between border-b border-neutral-150 pb-4">
            <div class="flex flex-col gap-2">
            </div>

            {% if request.user == profile.user %}
            <a href = '{% url "profile:edit-profile" %}' class="bg-[#eaf7e6] p-2 px-4 px-2 text-primary rounded-md text-gray-500 text-sm font-semibold">Edit Profile</a> 
            {% endif %}
          </div>
        </div>
        <!-- tabs -->
        <div class="tab flex flex-items-center justify-between p-4">
          <div class="flex flex-row">
            <button class="tablinks p-2 text-gray-500 text-sm font-medium" onclick="openTab(event, 'tab1')">Media</button> 
          </div>
          <button class="tablinks p-2 text-gray-500 text-sm font-medium" onclick="openTab(event, 'tab2')">Description</button>
          <button class="tablinks p-2 text-gray-500 text-sm font-medium" onclick="openTab(event, 'tab3')">Contact</button>
        </div>

        <div id="tab1" class="tabcontent p-4 w-full">
          <div class="w-full grid grid-cols-4 gap-2">
            {% for media in profile.media_paths.all %} 
            {% if media.image %}
            <a href="/media/{{media.image }}"><img src="/media/{{media.image }}" alt="" class="w-full h-[150px] border border-neutral-150 object-cover" /> </a>
            {% elif media.file %}
            <video class="w-full h-[81px] border border-neutral-150 object-cover" controls>
              <source src="/media/{{media.file}}" type="video/mp4" />
            </video>
            <!-- <img src="/media/{{image.file }}" alt="" class="w-full h-[81px] border border-neutral-150 object-cover" /> -->
            {% endif %} 
            {% endfor %}
          </div>
          {% if request.user == profile.user %}
          <div id="tab1" class="w-full flex justify-center items-center mt-4">
            <button class="tablinks px-2 py-1 text-gray-500 text-xl font-lg border border-black rounded-full" onclick="openTab(event, 'tab4')">
              <i class="fa fa-plus-circle"></i>
            </button>
          </div>
          {% endif %}
        </div>

        <div id="tab2" class="tabcontent">
          <div class="w-full min-h-24 flex items-center justify-center">
            <h3 class="text-gray-900 font-semibold">Coming soon</h3>
          </div>
        </div>

        <div id="tab3" class="tabcontent">
          <div class="w-full min-h-24 p-4 flex flex-col gap-4">
            <p class="text-gray-500 text-sm"><span class="text-primarydark font-bold text-sm">Phone Number</span>: {{ profile.user.phone_number }}</p>
            <p class="text-gray-500 text-sm"><span class="text-primarydark font-bold text-sm">Address</span>: {{profile.company_address|default:"None"}}, {{profile.city|default:"None"}}</p>
            {% if profile.website %}
            <p class="text-gray-500 text-sm"><span class="text-primarydark font-bold text-sm">Website</span>: <a href="{{profile.website}}">{{ profile.website}}</a></p>
            {% endif %}
          </div>
        </div>
        {% if request.user == profile.user %}
        <div id="tab4" class="tabcontent">
          <div class="w-full min-h-24 flex items-center justify-center">
            <div class="w-full p-4">
              <form method="post" enctype="multipart/form-data" id="contractorMediaForm" class="w-full mt-4 flex flex-col gap-4">
                {% csrf_token %}
                <div class="w-full">
                  <span class="text-sm text-gray-700 font-medium">Upload Pictures & Videos</span>
                </div>
                <label for="upload-media">
                  <div class="w-full min-h-[150px] rounded-md border border-neutral-150 shadow-sm mt-4 flex flex-col gap-4 items-center justify-center">
                    <div class="w-12 h-12 flex items-center justify-center rounded-full bg-gray-200 bg-opacity-50 p-2">
                      <img src="{% static 'svgs/upload-cloud.svg' %}" alt="" class="" />
                    </div>
                    <p class="text-center text-sm text-gray-500">
                      <span class="text-primary font-semibold">Click to upload</span> or drag and drop <br />
                      SVG, PNG, JPG or GIF (max. 800x400px)
                    </p>
                  </div>
                  <input type="file" id="upload-media" multiple name="upload-media" class="hidden" />
                </label>

                <div id="file-container" class="w-full flex items-center my-4 gap-4">
                  <!-- dynamic render -->
                </div>
                <div class="w-full flex items-center justify-center">
                  <button type="submit" class="p-3 w-1/4 rounded-lg bg-primary text-white border border-neutral-150 shadow-sm font-semibold">
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</main>

{% endblock %} 
{% block bottomNav %} 
{% include "user/bottom_nav_contractor.html"%} 
{% endblock bottomNav %} 
{% block extraScripts %}
<script>
    var csrf_token = "{{csrf_token}}"
</script>
<script src="{% static 'js/changeProfilePics.js' %}" async></script>
<script src="{% static 'js/contractorDetail.js' %}"></script>
{% endblock extraScripts %}
