{% extends "user/base.html" %} {% load static %} {% block content %}

<style>
    #step {
        display: none;
    }
</style>
hetetetet
<div class="w-full">
    <div class="w-full">
        <!-- header -->
        <div class="w-full p-4 flex items-center gap-8 mt-4 border-b border-neutral-150">
            <img onclick="goBack()" src="{% static 'svgs/chevron-left.svg' %}" alt="" class="cursor-pointer" />
            <h3 class="text-xl text-gray-900 font-medium">Edit Profile</h3>
        </div>
        <!-- content -->

        <div class="w-full p-4">
            <div class="w-full">
                <h3 class="text-base text-gray-600"> Provide some basic information to set up your account.</h3>
            </div>
            <form action="{% url 'profile:edit-profile-request' %}" class="w-full mt-4 flex flex-col gap-4" method="POST">
                {% csrf_token %}
                <div class="w-full">
                    <label for="companyName" class="text-gray-700 font-medium text-sm">Company Name</label>
                    <input type="text" name="companyName" id="companyName" value="Bob the number" class="w-full p-2 text-gray-500 border border-gray-300 rounded-md focus:outline-none mt-1 focus:border-gray-500" />
                </div>
                <div class="w-full">
                    <label for="house_address" class="text-gray-700 font-medium text-sm">Registration Number</label>
                    <input type="text" name="house_address" id="house_address" value="#23BV42" class="w-full p-2 text-gray-500 border border-gray-300 rounded-md focus:outline-none mt-1 focus:border-gray-500" />
                </div>
                <div class="w-full">
                    <label for="email" class="text-gray-700 font-medium text-sm">Email</label>
                    <input type="email" name="email" id="email" value="bob@email.com" class="w-full p-2 text-gray-500 border border-gray-300 rounded-md px-4 focus:outline-none mt-1 focus:border-gray-500" required />
                </div>
                <div class="w-full">
                    <label for="email" class="text-gray-700 font-medium text-sm">Phone number</label>
                    <div class="flex gap-2 p-2 border border-gray-300 p-2 mt-1 border border-gray-300 rounded-md">
                        <select name="country" id="country" class="w-2/12 rounded-md focus:outline-none mt-1 disabled:bg-transparent bg-transparent outline-none border-none focus:border-gray-500">
              <option value="" disabled selected>US</option>
              <option value="USA">US</option>
              <option value="Canada">Canada</option>
              <option value="UK">UK</option>
              <!-- Add more country options here -->
            </select>
                        <input type="tel" name="phone" id="phone" value="+1 (555) 000-0000" class="w-10/12 rounded-md text-gray-500 focus:outline-none mt-1 focus:border-gray-500" />
                    </div>
                </div>
                <div class="w-full">
                    <label for="Specialization" class="text-gray-700 font-medium text-sm">Specialization</label>
                    <select name="Specialization" id="Specialization" class="w-full p-2 border border-gray-300 bg-transparent outline-none min-h-[45px] text-gray-700 text-sm rounded-md focus:outline-none mt-1 focus:border-gray-500" required>
                      <option value="" disabled selected>Painter Contractor</option>
                      <option value="contractor_a">contractor_a</option>
                      <option value="contractor_a">contractor_a</option>
                      <option value="contractor_a">contractor_a</option>
                    </select>
                </div>
                <div class="w-full">
                    <label for="companyAddress" class="text-gray-700 font-medium text-sm">Company Address</label>
                    <input type="text" name="companyAddress" id="companyAddress" value="New Jersey, Newark" class="w-full text-gray-500  p-2 border border-gray-300 rounded-md focus:outline-none mt-1 focus:border-gray-500" />
                </div>

                <div class="w-full">
                    <label for="City" class="text-gray-700 font-medium text-sm">City</label>
                    <select name="City" id="City" class="w-full p-2 border border-gray-300 bg-transparent outline-none min-h-[45px] text-gray-700 text-sm rounded-md focus:outline-none mt-1 focus:border-gray-500" required>
                      <option value="" disabled selected>City</option>
                      <option value="contractor_a">contractor_a</option>
                      <option value="contractor_a">contractor_a</option>
                      <option value="contractor_a">contractor_a</option>
                    </select>
                </div>

                <div class="flex w-full flex-col gap-4 border-t border-neutral-150 pt-5">
                    <button type="submit" class="flex items-center w-full justify-center p-3 rounded-lg bg-primary text-white border border-neutral-150 shadow-sm font-semibold">
            Save 
          </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}{% block bottomNav %}{% if loggedInUser == 'agent' %}{% include "user/bottom_nav_agent.html" %}{% elif loggedInUser == 'contractor' %}{% include "user/bottom_nav_contractor.html"%}{% else %}{% include "user/bottom_nav.html" %} {% endif %}
{% endblock bottomNav %} {% block extraScripts %}

<script>
    function goBack() {
        history.back()
    }
</script>
{% endblock extraScripts %}