{% extends "user/base.html" %} {% load static %} {% block content %}
<main class="w-full">
    <div class="w-full p-8 flex items-center justify-center border-b border-neutral-150">
        <img src="{% static 'svgs/sproost-name.svg' %}" alt="" class="" />
    </div>
    <div class="w-full p-4 flex flex-col gap-4">
        {% if loggedInUser == 'contractor' %}
        <a href="#" class="w-full flex items-center justify-between py-2 border-b border-neutral-100 last:border-b-0">
            <h3 class="text-gray-500 font-medium">Find agent</h3>
            <span class="">
      <img src="{% static 'svgs/chevron-right-black.svg' %}" alt="" class="" />
    </span>
        </a>
        {% else %}
        <a href="{% url 'main:contractors' %}" class="w-full flex items-center justify-between py-2 border-b border-neutral-100 last:border-b-0">
            <h3 class="text-gray-500 font-medium">Find contractors</h3>
            <span class="">
      <img src="{% static 'svgs/chevron-right-black.svg' %}" alt="" class="" />
    </span>
        </a>
        {% endif %} {% if loggedInUser == 'contractor' %}
        <a href="#" class="w-full flex items-center justify-between py-2 border-b border-neutral-100 last:border-b-0">
            <h3 class="text-gray-500 font-medium">Recourses</h3>
            <span class="">
              <img src="{% static 'svgs/chevron-right-black.svg' %}" alt="" class="" />
          </span>
        </a>
        {% else %}
        <a href="#" class="w-full flex items-center justify-between py-2 border-b border-neutral-100 last:border-b-0">
            <h3 class="text-gray-500 font-medium">Quotes</h3>
            <span class="">
        <img src="{% static 'svgs/chevron-right-black.svg' %}" alt="" class="" />
        </span>
        </a>
        {% endif %}
        <a href="#" class="w-full flex items-center justify-between py-2 border-b border-neutral-100 last:border-b-0">
            <h3 class="text-gray-500 font-medium">About</h3>
            <span class="">
        <img src="{% static 'svgs/chevron-right-black.svg' %}" alt="" class="" />
      </span>
        </a>
        <a href="#" class="w-full flex items-center justify-between py-2 border-b border-neutral-100 last:border-b-0">
            <h3 class="text-gray-500 font-medium">Notes</h3>
            <span class="">
        <img src="{% static 'svgs/chevron-right-black.svg' %}" alt="" class="" />
      </span>
        </a>
        <a href="#" class="w-full flex items-center justify-between py-2 border-b border-neutral-100 last:border-b-0">
            <h3 class="text-gray-500 font-medium">Account Settings</h3>
            <span class="">
            <img src="{% static 'svgs/chevron-right-black.svg' %}" alt="" class="" />
          </span>
        </a>
        <form method = "post" action = {% url "account_logout" %} class="w-full flex items-center justify-between py-2 border-b border-neutral-100 last:border-b-0">
            {% csrf_token %}
            <button type = "submit" class="text-gray-500 font-medium">Logout</button>
        </form>
        {% if loggedInUser == 'contractor' %}
        <a href="#" class="w-full flex items-center justify-between py-2 border-b border-neutral-100 last:border-b-0">
            <h3 class="text-gray-500 font-medium">Neighbourhood Search</h3>
            <span class="">
      <img src="{% static 'svgs/chevron-right-black.svg' %}" alt="" class="" />
    </span>
        </a>
        <a href="#" class="w-full flex items-center justify-between py-2 border-b border-neutral-100 last:border-b-0">
            <h3 class="text-gray-500 font-medium">Recommendations</h3>
            <span class="">
      <img src="{% static 'svgs/chevron-right-black.svg' %}" alt="" class="" />
    </span>
        </a>
        {% endif %}

    </div>
</main>
{% endblock %}{% block bottomNav %}{% if loggedInUser == 'agent' %}{% include "user/bottom_nav_agent.html" %}{% elif loggedInUser == 'contractor' %}{% include "user/bottom_nav_contractor.html"%}{% else %}{% include "user/bottom_nav.html" %} {% endif %}
{% endblock bottomNav %}