{% load static %}
<div class="w-full fixed top-0 border-b border-primary z-20 rounded-bl-lg rounded-br-lg shadow-sm bg-primary flex items-center justify-center p-4">
    <!-- <div class="w-[60px] h-[60px]">
        <img src="{% static 'images/home-owner.png' %}" alt="" class="w-full h-full object-contain" />
    </div> -->
    <img src="{% static 'svgs/sproost-white.svg' %}" alt="" class="" />
    
    <div class="relative" style="float: right !important;">
        <a href="{% url 'logout' %}">Logout</a
    </div> 
</div>
</div>